body.light {
  --bg: white;
  --textNormal: #222;
  --textTitle: #222;
  --textLink: blue;
  --hr: hsla(0, 0%, 0%, 0.2);

  background: var(--bg);

    .groupByYear {
      hr {
        @apply bg-indigo-50;
      }
      li{
        @apply bg-white;
        &:hover {
          @apply bg-indigo-50;
        }
      }
    }
  
    footer {
      & > div {
        @apply bg-gray-50
      }
    }
  }

  @import './prism-light-theme.scss'